{% extends 'base.html' %}
{% block content %}

{% if error %}
{{error}}
{% endif %}

<!--<!DOCTYPE html>-->
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
    <title>Post Job</title>
    {% load static%}
    <link href="{% static 'css/Resume.css'%}" rel="stylesheet" media="all">
</head>

<body>

    <div class="page-wrapper bg-dark p-t-100 p-b-50"  >
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title1" style="text-decoration-color: white">Post Job</h2>
                </div>
                <div class="card-body">
                    <form method="POST"  action="{% url 'PostJob' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <div class="form-row">
                            <div class="name">Company Name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="full_name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="email" name="email" placeholder="example@email.com">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Detail</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="detail" placeholder="Detail About the Job"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload the Job</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input class="input-file" type="file" name="file" id="file">
                                    <label class="label--file" for="file">Choose file</label>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                                <div class="label--desc">Upload your Job or any other relevant file. Max file size 50 MB</div>
                            </div>
                        </div>
                        <div class="card-footer">
                          <button class="btn btn--radius-2 btn--blue-2" type="submit">Upload</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    {% load static%}
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'js/global.js' %}"></script>
{% endblock %}
</body>
</html>
